<h1>Song Page</h1>

Title: <%= @song.title %><br><br>
Artist: <%= @song.artist_name %><br><br>
Genre: <%= @song.genre_name %><br><br>

<h4>Notes:</h4>
<% @song.notes.each do |note| %>
    <%= note.content %><br><br>
<% end %>
